### Q1. Create a list of five integers and print it.

In [61]:
class car():
    def __init__ (self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year
        self.speed = 60
    def accelerate(self):
        if self.speed >= 200:
            print(f"{self.brand} has reached maximum speed.")
        else:
            self.speed += 10
            print(f"{self.brand} is Accelerating: {self.speed} km/h")
        
    def brake(self):
        if self.speed <= 0:
            print(f"{self.brand} is already stopped.")
        else:
            self.speed -= 10
            print(f"{self.brand} is Braking: {self.speed} km/h")
        
    def display_info(self):
        print(f"{self.brand} {self.model} {self.year}, Speed: {self.speed} km/h")

In [62]:
car1 = car("Toyota", "Corolla", 2020)
car2 = car("Honda", "Civic", 2019)

In [63]:
print("----------------------------------------------")
print('                                                   Base Speed: 60 km/h')
print("                                     _______________________________________________")
car1.accelerate()
car1.display_info()
print("----")
car2.brake()
car2.display_info()
print("----------------------------------------------")

----------------------------------------------
                                                   Base Speed: 60 km/h
                                     _______________________________________________
Toyota is Accelerating: 70 km/h
Toyota Corolla 2020, Speed: 70 km/h
----
Honda is Braking: 50 km/h
Honda Civic 2019, Speed: 50 km/h
----------------------------------------------

In [25]:
A = [12,15,3,7,9]
A

[12, 15, 3, 7, 9]

### Q2. Write a program to find the length of a list.

In [2]:
len(A)

5

### Q3. Create a tuple with three elements and print the second item.

In [9]:
B = (12,15,3,7,9)
print(B.index(15))

1

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [15]:
C= {'Fname': "Omar", 'Lname': "Saad", 'Age': 23}
print(C.keys())

dict_keys(['Fname', 'Lname', 'Age'])

### Q5. Write a program to convert a list into a set.

### Q6. Create a string and print its first and last characters.

In [18]:
D = 'Welcome to Python'

### Q7. Take input from the user and print it.

In [19]:
E = input("Enter your name: ")
print(f'Hello {E} !')

Hello Omar !

### Q8. Write a program to add two numbers entered by the user.

In [ ]:
try:
    N1 = int(input("Enter first number: "))
    N2 = int(input("Enter second number: "))
    s = N1 + N2
    print(f'The sum of {N1} and {N2} is {s}')
except ValueError:
    print("Please enter a valid integer.")

The sum of 5 and 3 is 8

### Q9. Use `type()` function to check the data type of a variable.

In [24]:
print(type(A))
print(type(B))
print(type(C))
print(type(D))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

### Q10. Create a boolean variable and print it.

In [26]:
bool_var = True
print(bool_var)
print(type(bool_var))

True
<class 'bool'>

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [29]:
try:
    No = int(input("Enter a number: "))
    if No == 0:
        print("The number is zero.")
    elif No > 0:
        if No % 2 == 0:
            print(f"The number {No} is positive and even.")
        else:
            print(f"The number {No} is positive and odd.")
    else:
        if No % 2 == 0:
            print(f"The number {No} is negative and even.")
        else:
            print(f"The number {No} is negative and odd.")
except ValueError:
    
    print("Please enter a valid integer.")

The number is zero.

### Q12. Write a program to check if a number is even or odd.

In [30]:
No2 = int(input("Enter a number: "))
if No2 % 2 == 0:
            print(f"The number {No2} is even.")
else:
            print(f"The number {No2} is odd.")

The number 5 is odd.

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [31]:
for i in range(3):
    print('Omar')

Omar
Omar
Omar

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [33]:
for i in range(1,11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [34]:
for i in range (len(A)):
    print(A[i], end=' ')

12 15 3 7 9

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [35]:
s2 = 0
for i in range(1,101):
    s2 += i
s2

5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [37]:
for i in range(1,21):
    if i % 2 == 0:
        print(i, end=' ')
    else:
        continue

2 4 6 8 10 12 14 16 18 20

### Q18. Write a `for` loop to print each character in a string.

In [ ]:
type(D)
for i in range(len(D)):
    print(D[i], end=' ')

W e l c o m e   t o   P y t h o n

### Q19. Use a `for` loop to print all values in a dictionary.

In [ ]:
print(type(C))
for key in C:
    print(f'{key}: {C[key]}')       # used co-pilot

Fname: Omar
Lname: Saad
Age: 23

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

### Q21. Create a list of your 5 favorite fruits.

In [45]:
fruits = ['apple', 'banana', 'Orange', 'grape', 'mango']

### Q22. Add a new fruit to your list of favorite fruits.

In [46]:
fruits.append('pineapple')

### Q23. Remove the second item from a list.

In [47]:
fruits.remove('banana')
fruits

['apple', 'Orange', 'grape', 'mango', 'pineapple']

### Q24. Sort a list of numbers in descending order.

In [57]:
print ( f'original list: {A}')
print(sorted(A, reverse=True))

original list: [12, 15, 3, 7, 9]
[15, 12, 9, 7, 3]

### Q25. Find the maximum and minimum values in a list.

In [58]:
print(max(A), min(A))

15 3

### Q26. Count how many times a value appears in a list.

In [59]:
fruits.append('apple')
print(fruits)
print(fruits.count('apple'))

['apple', 'Orange', 'grape', 'mango', 'pineapple', 'apple']
2

### Q27. Check if a specific value exists in a list.

In [61]:
fruits.index('apple')
fruits.index('kiwi')

ValueError: 'kiwi' is not in list

### Q28. Reverse a list without using reverse() function.

### Q29. Make a copy of a list and modify the copy only.

In [64]:
fruits.copy()
fruits2 = fruits.copy()
fruits2.append('watermelon')
print('fruits2',fruits2)
print('fruits',fruits)

fruits2 ['apple', 'Orange', 'grape', 'mango', 'pineapple', 'apple', 'watermelon']
fruits ['apple', 'Orange', 'grape', 'mango', 'pineapple', 'apple']

### Q30. Use slicing to get the first 3 items of a list.

In [ ]:
fruits.

### Q31. Create a tuple with 4 elements and print its length.

In [66]:
G = ('Monkey', 'Lion', 'Tiger', 'Elephant')
len(G)

4

### Q32. Access the last element of a tuple.

In [67]:
G.index('Elephant')

3

### Q33. Convert a tuple into a list.

In [68]:
G2 = list(G)
print (G2)

['Monkey', 'Lion', 'Tiger', 'Elephant']

### Q34. Convert a list into a tuple.

In [69]:
G3 = tuple(G2)
print(G3)

('Monkey', 'Lion', 'Tiger', 'Elephant')

### Q35. Check if a value exists in a tuple.

In [70]:
G.index('Lion')
G.index('Human')

ValueError: tuple.index(x): x not in tuple

### Q36. Concatenate two tuples.

### Q37. Repeat a tuple 3 times.

In [72]:
for i in range (3):
    print(G)

('Monkey', 'Lion', 'Tiger', 'Elephant')
('Monkey', 'Lion', 'Tiger', 'Elephant')
('Monkey', 'Lion', 'Tiger', 'Elephant')

### Q38. Find the index of an element in a tuple.

### Q39. Use tuple unpacking to assign values to variables.

### Q40. Create a nested list and access an inner element.

### Q41. Create a set of 5 unique colors.

### Q42. Add a new color to the set.

### Q43. Remove an item from the set using `remove()`.

### Q44. Use `discard()` to remove an item that may or may not exist.

### Q45. Create a set from a list with duplicate values.

### Q46. Find the union of two sets.

### Q47. Find the intersection of two sets.

### Q48. Find the difference between two sets.

### Q49. Check if a set is a subset of another set.

### Q50. Check if two sets are disjoint.

### Q51. Create a dictionary with 3 items: name, age, and city.

### Q52. Add a new key-value pair to the dictionary.

### Q53. Update the value of an existing key in the dictionary.

### Q54. Remove a key from the dictionary using `pop()`.

### Q55. Check if a key exists in the dictionary.

### Q56. Loop through a dictionary and print all keys and values.

### Q57. Get all keys from a dictionary using `keys()`.

### Q58. Get all values from a dictionary using `values()`.

### Q59. Get all key-value pairs using `items()`.

### Q60. Create a dictionary from two lists: one for keys and one for values.