### Q1. Create a list of five integers and print it.

In [2]:
class car():
    def __init__ (self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year
        self.speed = 60
    def accelerate(self):
        if self.speed >= 200:
            print(f"{self.brand} has reached maximum speed.")
        else:
            self.speed += 10
            print(f"{self.brand} is Accelerating: {self.speed} km/h")
        
    def brake(self):
        if self.speed <= 0:
            print(f"{self.brand} is already stopped.")
        else:
            self.speed -= 10
            print(f"{self.brand} is Braking: {self.speed} km/h")
        
    def display_info(self):
        print(f"{self.brand} {self.model} {self.year}, Speed: {self.speed} km/h")

In [3]:
car1 = car("Toyota", "Corolla", 2020)
car2 = car("Honda", "Civic", 2019)

In [4]:
print("----------------------------------------------")
print('                                                   Base Speed: 60 km/h')
print("                                     _______________________________________________")
car1.accelerate()
car1.display_info()
print("----")
car2.brake()
car2.display_info()
print("----------------------------------------------")

----------------------------------------------
                                                   Base Speed: 60 km/h
                                     _______________________________________________
Toyota is Accelerating: 70 km/h
Toyota Corolla 2020, Speed: 70 km/h
----
Honda is Braking: 50 km/h
Honda Civic 2019, Speed: 50 km/h
----------------------------------------------

In [5]:
A = [12,15,3,7,9]
A

[12, 15, 3, 7, 9]

### Q2. Write a program to find the length of a list.

In [6]:
len(A)

5

### Q3. Create a tuple with three elements and print the second item.

In [7]:
B = (12,15,3,7,9)
print(B.index(15))

1

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [8]:
C= {'Fname': "Omar", 'Lname': "Saad", 'Age': 23}
print(C.keys())

dict_keys(['Fname', 'Lname', 'Age'])

### Q5. Write a program to convert a list into a set.

In [32]:
print(type(A))
set(A)

<class 'list'>
<class 'list'>

### Q6. Create a string and print its first and last characters.

In [ ]:
D = 'Welcome to Python'
print(f'First character: {D[0]}')
print(f'Last character: {D[-1]}')

### Q7. Take input from the user and print it.

In [11]:
E = input("Enter your name: ")
print(f'Hello {E} !')

Hello Omar !

### Q8. Write a program to add two numbers entered by the user.

In [12]:
try:
    N1 = int(input("Enter first number: "))
    N2 = int(input("Enter second number: "))
    s = N1 + N2
    print(f'The sum of {N1} and {N2} is {s}')
except ValueError:
    print("Please enter a valid integer.")

The sum of 5 and 5 is 10

### Q9. Use `type()` function to check the data type of a variable.

In [13]:
print(type(A))
print(type(B))
print(type(C))
print(type(D))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

### Q10. Create a boolean variable and print it.

In [14]:
bool_var = True
print(bool_var)
print(type(bool_var))

True
<class 'bool'>

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [15]:
try:
    No = int(input("Enter a number: "))
    if No == 0:
        print("The number is zero.")
    elif No > 0:
        if No % 2 == 0:
            print(f"The number {No} is positive and even.")
        else:
            print(f"The number {No} is positive and odd.")
    else:
        if No % 2 == 0:
            print(f"The number {No} is negative and even.")
        else:
            print(f"The number {No} is negative and odd.")
except ValueError:
    
    print("Please enter a valid integer.")

The number 2 is positive and even.

### Q12. Write a program to check if a number is even or odd.

In [16]:
No2 = int(input("Enter a number: "))
if No2 % 2 == 0:
            print(f"The number {No2} is even.")
else:
            print(f"The number {No2} is odd.")

The number 5 is odd.

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [17]:
for i in range(3):
    print('Omar')

Omar
Omar
Omar

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [18]:
for i in range(1,11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [19]:
for i in range (len(A)):
    print(A[i], end=' ')

12 15 3 7 9

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [20]:
s2 = 0
for i in range(1,101):
    s2 += i
s2

5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [21]:
for i in range(1,21):
    if i % 2 == 0:
        print(i, end=' ')
    else:
        continue

2 4 6 8 10 12 14 16 18 20

### Q18. Write a `for` loop to print each character in a string.

In [22]:
type(D)
for i in range(len(D)):
    print(D[i], end=' ')

W e l c o m e   t o   P y t h o n

### Q19. Use a `for` loop to print all values in a dictionary.

In [23]:
print(type(C))
for key in C:
    print(f'{key}: {C[key]}')       # used co-pilot

<class 'dict'>
Fname: Omar
Lname: Saad
Age: 23

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [ ]:
try:
    n = int(input("Enter a number: "))
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    print(f"The factorial of {n} is {factorial}")
except ValueError:
    print("Please enter a valid integer.")

### Q21. Create a list of your 5 favorite fruits.

In [24]:
fruits = ['apple', 'banana', 'Orange', 'grape', 'mango']

### Q22. Add a new fruit to your list of favorite fruits.

In [25]:
fruits.append('pineapple')

### Q23. Remove the second item from a list.

In [26]:
fruits.remove('banana')
fruits

['apple', 'Orange', 'grape', 'mango', 'pineapple']

### Q24. Sort a list of numbers in descending order.

In [27]:
print ( f'original list: {A}')
print(sorted(A, reverse=True))

original list: [12, 15, 3, 7, 9]
[15, 12, 9, 7, 3]

### Q25. Find the maximum and minimum values in a list.

In [28]:
print(max(A), min(A))

15 3

### Q26. Count how many times a value appears in a list.

In [29]:
fruits.append('apple')
print(fruits)
print(fruits.count('apple'))

['apple', 'Orange', 'grape', 'mango', 'pineapple', 'apple']
2

### Q27. Check if a specific value exists in a list.

In [30]:
if 'apple' in fruits:
    print(f"Apple is in the list at index: {fruits.index('apple')}")
else:
    print("Apple is not in the list")

if 'kiwi' in fruits:
    print(f"Kiwi is in the list at index: {fruits.index('kiwi')}")
else:
    print("Kiwi is not in the list")

ValueError: 'kiwi' is not in list

### Q28. Reverse a list without using reverse() function.

In [ ]:
H = [1, 2, 3, 4, 5]
print(f'Original list: {H}')
reversed_H = []
for i in range(len(H) - 1, -1, -1):
    reversed_H.append(H[i])
print(f'Reversed list: {reversed_H}')

### Q29. Make a copy of a list and modify the copy only.

In [ ]:
fruits.copy()
fruits2 = fruits.copy()
fruits2.append('watermelon')
print('fruits2',fruits2)
print('fruits',fruits)

fruits2 ['apple', 'Orange', 'grape', 'mango', 'pineapple', 'apple', 'watermelon']
fruits ['apple', 'Orange', 'grape', 'mango', 'pineapple', 'apple']

### Q30. Use slicing to get the first 3 items of a list.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']

print(fruits[:3])

### Q31. Create a tuple with 4 elements and print its length.

In [ ]:
G = ('Monkey', 'Lion', 'Tiger', 'Elephant')
len(G)

4

### Q32. Access the last element of a tuple.

In [ ]:
print(f'Last element: {G[-1]}')

3

### Q33. Convert a tuple into a list.

In [ ]:
G2 = list(G)
print (G2)

['Monkey', 'Lion', 'Tiger', 'Elephant']

### Q34. Convert a list into a tuple.

In [ ]:
G3 = tuple(G2)
print(G3)

('Monkey', 'Lion', 'Tiger', 'Elephant')

### Q35. Check if a value exists in a tuple.

In [ ]:
try:
    print(f"Lion is at index: {G.index('Lion')}")
except ValueError:
    print("Lion not found in tuple")

try:
    print(f"Human is at index: {G.index('Human')}")
except ValueError:
    print("Human not found in tuple")

ValueError: tuple.index(x): x not in tuple

### Q36. Concatenate two tuples.

In [ ]:
G2_tuple = ('Dog', 'Cat', 'Bird')
combined_tuple = G + G2_tuple
print(f'First tuple: {G}')
print(f'Second tuple: {G2_tuple}')
print(f'Combined tuple: {combined_tuple}')

### Q37. Repeat a tuple 3 times.

In [ ]:
for i in range(3):
    print(G)

('Monkey', 'Lion', 'Tiger', 'Elephant')
('Monkey', 'Lion', 'Tiger', 'Elephant')
('Monkey', 'Lion', 'Tiger', 'Elephant')

### Q38. Find the index of an element in a tuple.

In [ ]:
print(f"Index of 'Tiger': {G.index('Tiger')}")
print(f"Index of 'Monkey': {G.index('Monkey')}")

### Q39. Use tuple unpacking to assign values to variables.

In [ ]:
animal1, animal2, animal3, animal4 = G
print(f'First animal: {animal1}')
print(f'Second animal: {animal2}')
print(f'Third animal: {animal3}')
print(f'Fourth animal: {animal4}')

### Q40. Create a nested list and access an inner element.

In [ ]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(f'Nested list: {nested_list}')
print(f'First inner list: {nested_list[0]}')
print(f'Element at [1][2]: {nested_list[1][2]}')

### Q41. Create a set of 5 unique colors.

In [ ]:
colors = {'red', 'blue', 'green', 'yellow', 'purple'}
print(colors)

### Q42. Add a new color to the set.

In [ ]:
colors.add('orange')
print(colors)

### Q43. Remove an item from the set using `remove()`.

In [ ]:
colors.remove('blue')
print(colors)

### Q44. Use `discard()` to remove an item that may or may not exist.

In [ ]:
colors.discard('pink')  # Won't raise error if not found
colors.discard('yellow')  # Will remove if found
print(colors)

### Q45. Create a set from a list with duplicate values.

In [ ]:
duplicate_list = [1, 2, 3, 3, 4, 4, 5, 5]
print(f'List with duplicates: {duplicate_list}')
unique_set = set(duplicate_list)
print(f'Set without duplicates: {unique_set}')

### Q46. Find the union of two sets.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(f'Set1: {set1}')
print(f'Set2: {set2}')
union_set = set1.union(set2)
print(f'Union: {union_set}')

### Q47. Find the intersection of two sets.

In [ ]:
intersection_set = set1.intersection(set2)
print(f'Intersection: {intersection_set}')

### Q48. Find the difference between two sets.

In [ ]:
difference_set = set1.difference(set2)
print(f'Set1 - Set2: {difference_set}')
difference_set2 = set2.difference(set1)
print(f'Set2 - Set1: {difference_set2}')

### Q49. Check if a set is a subset of another set.

In [ ]:
subset_set = {1, 2}
print(f'Subset: {subset_set}')
print(f'Is {subset_set} a subset of {set1}? {subset_set.issubset(set1)}')
print(f'Is {set1} a subset of {set2}? {set1.issubset(set2)}')

### Q50. Check if two sets are disjoint.

In [ ]:
set3 = {7, 8, 9}
print(f'Set1: {set1}')
print(f'Set3: {set3}')
print(f'Are Set1 and Set3 disjoint? {set1.isdisjoint(set3)}')
print(f'Are Set1 and Set2 disjoint? {set1.isdisjoint(set2)}')

### Q51. Create a dictionary with 3 items: name, age, and city.

In [ ]:
person = {'name': 'Omar', 'age': 23, 'city': 'Cairo'}
print(person)

### Q52. Add a new key-value pair to the dictionary.

In [ ]:
person['job'] = 'Engineer'
print(person)

### Q53. Update the value of an existing key in the dictionary.

In [ ]:
person['age'] = 24
print(f"Updated age: {person['age']}")
print(person)

### Q54. Remove a key from the dictionary using `pop()`.

In [ ]:
removed_value = person.pop('city')
print(f"Removed 'city': {removed_value}")
print(person)

### Q55. Check if a key exists in the dictionary.

In [ ]:
keys = person.keys()
print(f"Keys: {list(keys)}")

### Q56. Loop through a dictionary and print all keys and values.

In [ ]:
values = person.values()
print(f"Values: {list(values)}")

### Q57. Get all keys from a dictionary using `keys()`.

In [ ]:
items = person.items()
print(f"Items: {list(items)}")

### Q58. Get all values from a dictionary using `values()`.

In [ ]:
print(f"Is 'name' in person? {'name' in person}")
print(f"Is 'email' in person? {'email' in person}")

### Q59. Get all key-value pairs using `items()`.

In [ ]:
person2 = {'email': 'omar@example.com', 'phone': '123-456-7890'}
print(f"Person: {person}")
print(f"Person2: {person2}")
merged_dict = {**person, **person2}
print(f"Merged dictionary: {merged_dict}")

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [ ]:
for key, value in person.items():
    print(f"{key}: {value}")